.heart-trail-layout {
    overflow: hidden;
    position: relative;
}

.heart-trail-layout span {
    background-image: url('https://cdn4.iconfinder.com/data/icons/set-1/32/__1-512.png');
    background-size: cover;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate {
    from {
        transform: translate(-50%, -50%);
        filter: hue-rotate(0);
        opacity: 1;

    }
    to {
        transform: translate(-50%, -5000%);
        filter: hue-rotate(720deg);
        opacity: 0;
    }
}